BOT_QQ=
ADMIN_QQS=
ALLOWED_GROUPS=
NAPCAT_WS_URL=ws://127.0.0.1:3001
NAPCAT_TOKEN=
NAPCAT_WEBUI_TOKEN=
CARD_API_URL=https://daodaogame.vip/api/card/claim
CARD_API_TOKEN=
CARD_MODE=remote
CARD_ISSUANCE=generated
CARD_DB=data/cards.db
CARD_API_BIND=127.0.0.1
CARD_API_PORT=8770
NAPCAT_IMAGE=mlikiowa/napcat-docker:latest
